<script>
// prettier-multiline-arrays-next-line-pattern: 1 2 3
const _example = [
  '1',
  '2', '3',
  '4', '5', '6',
  '7',
  '8', '9',
  '10', '11', '12',
]
</script>

<template>
  <div>
    <h1>Hello</h1>
  </div>
</template>

<style>
html {
  font-family: Caveat;
}

h1 {
  @apply text-4xl p-4;
}
</style>
